.container
  = form_for :session, url: { action: :create }, html: {class: 'form-input form-signin', role: 'form'} do |f|
    %h1.text-info Sign In
    = f.text_field :identifier, class: 'form-control', required: true, autofocus: true, placeholder: 'Type your email or login'
    = f.password_field :password, class: 'form-control', required: true, placeholder: 'Type your password'
    = f.submit "Sign In", class: 'btn btn-lg btn-success btn-block margin-up-small'