.container-fluid
  .navbar-header
    = link_to 'Blog ->', root_path, class: 'navbar-brand'
  .navbar-collapse.collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'Dashboard', root_path
      %li
        = link_to 'Manage Articles', admin_articles_path
      %li
        = link_to 'Manage Users', admin_users_path, class: 'blog-nav-item'
      %li
        %a.blog-nav-item{href: '#'} Help
      - if user_sign_in?
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: { toggle: "dropdown" }}
            Profile
            %b.caret
          %ul.dropdown-menu
            %li.dropdown-header Login :
            %li= link_to current_user.login, current_user
            %li.divider
            %li.dropdown-header Email :
            %li= link_to current_user.email, current_user
            %li.divider
            %li.dropdown-header Access :
            %li= link_to current_user.role.name, '#'
            %li.divider
            %li.dropdown-header Quit :
            %li= link_to "Exit", sessions_path, method: :delete