%h3.text-info Users :
%ul.nav.nav-sidebar
  %li= link_to "All users", admin_users_path
%h3.text-info Articles :
%ul.nav.nav-sidebar
  %li= link_to "Blog Categories", admin_categories_path
  %li= link_to "All articles", admin_articles_path
  %li= link_to "Unpublished articles", admin_articles_path(published: false)
  %li= link_to "Add article", new_admin_article_path
