= form_for [:admin, @user], html: {method: "patch", class: 'form form-inline', role: 'form'} do |f|
  %span.text-muted Change current privileges for user to : 
  .form-group
    = f.collection_select :role_id, Role.all, :id, :name, {},class: 'form-control', default: @user.role_name
  = f.submit class: "btn btn-success"