.btn-group
  %a.btn.btn-default{href: "#{admin_users_path}"}
    Results, users
    %span.badge= @users.size
.btn-group
  %button.btn.btn-default User types:
  %button.btn.btn-default{data: { toggle: 'dropdown' }}
    %span.caret
    %span.sr-only User Types
  %ul.dropdown-menu{role: 'menu'}
    %li= link_to 'Admin users',   admin_users_path(role: 2)
    %li= link_to 'Simple users',  admin_users_path(role: 1)
    %li= link_to 'Moder users',   admin_users_path(role: 3)
    %li.divider
    %li= link_to 'All users',     admin_users_path
.pull-right
  = form_tag admin_users_path, method: :get, class: 'form form-inline', role: 'form' do
    = text_field_tag :starts_with, params[:starts_with], class: 'form-control', placeholder: 'login like...'
    = submit_tag 'Search', class: 'btn btn-success'