%tr
  %td
    %span.text-danger
      = user.login
  %td
    %span.text-info
      = user.email
  %td
    %span.label.label-primary
      = user.role_name
  %td
    %span.text-muted
      = date_format user.last_signin_at
  %td
    %span.text-muted
      = date_format user.created_at
  %td{colspan: 2}
    = link_to 'Delete', admin_user_path(user), method: :delete, class: 'btn btn-danger btn-xs', confirm: "Are you sure to delete #{user.login}?"
    = link_to 'Edit Access', edit_admin_user_path(user), class: 'btn btn-primary btn-xs'