%h1= "Edit '#{@user.login}' user access"
%hr
.panel.panel-danger
  .panel-heading
    %h3.panel-title
      Now user
      %strong= @user.login
      has privileges
      %strong= @user.role_name
  .panel-body
    = render 'form'