%h1 Manage users
%hr
/ Users search
= render 'search'
%hr
/ Users list
- unless @users.blank?
  %table.table.table-hover
    %thead
      %th User login :
      %th User email :
      %th User access :
      %th Last user sign in at :
      %th Created at :
      %th{colspan: 2} Actions :
    %tbody
      = render @users
- else
  = render partial: 'admin/common/empty_resource'