%tr
  %td
    = link_to article.title, admin_article_path(article)
  %td
    = truncate  article.contents, 
                length: 600,
                separator: '/>',
                omission: '...',
                escape: false
  %td
    = link_to article.category_name, admin_category_path(article.category)
  %td
    %span.label.label-warning
      = article.archive
  / %td
  /   %span.label.label-primary
  /     = article.tags.map { |t| t.name }.join(', ')
  %td
    %span.label.label-primary
      = article.published
  %td
    = date_format article.created_at
  %td{colspan: 3}
    = link_to admin_article_path(article), class: 'btn btn-default btn-xs' do
      %i.glyphicon.glyphicon-new-window
    = link_to admin_articles_path(article), method: :delete, class: 'btn btn-danger btn-xs', confirm: "Are you sure to delete #{article.title}?" do
      %i.glyphicon.glyphicon-trash
    / = link_to 'Edit', edit_admin_articles_path(article), class: 'btn btn-primary btn-xs'