= form_for [:admin, @article], html: { class: 'form-horizontal', role: 'form' } do |f|
  = render 'common/errors', object: @article if @article.errors.any?
  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :category_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control'
  .form-group
    = f.label :contents, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.cktext_area :contents, ckeditor: { uiColor: "#14B8C4", toolbar: "mini"}, class: 'form-control'
  .form-group
    = f.label :all_tags, "Tags (Enter tags separeted by ';')", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :all_tags, class: 'form-control'
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit class: 'btn btn-default'
      = link_to 'Cancel', :back, class: 'btn btn-danger'