.btn-group
  %a.btn.btn-default{href: "#{admin_categories_path}"}
    Results, articles
    %span.badge= @articles.size
.btn-group
  %button.btn.btn-default Articles display:
  %button.btn.btn-default{data: { toggle: 'dropdown' }}
    %span.caret
    %span.sr-only Article display
  %ul.dropdown-menu{role: 'menu'}
    %li= link_to 'Arhived',     admin_articles_path(archive: true)
    %li= link_to 'Unarhived',   admin_articles_path(archive: false)
    %li= link_to 'Published',   admin_articles_path(published: true)
    %li= link_to 'Unpublished', admin_articles_path(published: false)
    %li.divider
    %li= link_to 'All articles', admin_articles_path
.btn-group
  %button.btn.btn-default Articles category:
  %button.btn.btn-default{data: { toggle: 'dropdown' }}
    %span.caret
    %span.sr-only Article categories
  %ul.dropdown-menu{role: 'menu'}
    - @categories.each do |category|
      %li= link_to category.name, admin_articles_path(filter: category.name)
    %li.divider
    %li= link_to 'All articles', admin_articles_path
.pull-right
  = form_tag admin_articles_path, method: :get, class: 'form form-inline', role: 'form' do
    = text_field_tag :starts_with_title, params[:starts_with_title], class: 'form-control', placeholder: 'title like...'
    = submit_tag 'Search', class: 'btn btn-success'