.row-fluid
  .panel.panel-primary
    .panel-heading
      .panel-title
        Tag cloud
    .panel-body
      - tag_cloud Article.tag_counts do |tag, css|
        = link_to tag.name, admin_tag_path(tag.name), class: css