%h2 Articles
%hr
/ Articles search
= render 'search'
%hr
/ Tags cloud
= render 'tags_cloud'
/ Articles list
.panel.panel-default
  / Panel contents
  .panel-heading List of articles :
  / Table
  - unless @articles.blank?
    %table.table.table-hover
      %thead
        %th Title :
        %th Article preview :
        %th Category
        %th Archive
        %th Published
        %th Created :
        %th{colspan: 3} Action
      %tbody
        = render @articles
  - else
    = render partial: 'admin/common/empty_resource'
= link_to new_admin_article_path, class: 'btn btn-lg btn-success' do
  %i.glyphicon.glyphicon-pencil Add