.container-fluid
  %ul.nav.nav-tabs
    %li.active
      %a.active{data: {toggle: 'tab'}, href: '#all'} All
    %li
      %a{data: {toggle: 'tab'}, href: '#article'} Article
    %li
      %a{data: {toggle: 'tab'}, href: '#comments'} Comments
  .tab-content
    .tab-pane.fade.active.in#all
      %h1
        = @article.title
        %small= @article.published? ? 'published' : 'unpublished'
        - if @article.archive?
          %span.label.label-warning archived
      %hr
        = @article.contents.html_safe
      .row
        .pull-left.col-sm-6.col-md-6
          Tags :
          = raw @article.all_tags.map { |t| link_to t, admin_tag_path(t) }.join(', ')
        .pull-right.col-sm-6.col-md-6
          Views :
          %span.label.label-info
            = @article.views
      %hr
      %h3 Comments
