.container
  = form_for @user, html: {class: 'form-input', role: 'form'} do |f|
    %h1.text-info Sign Up
    = render 'common/errors', object: @user if @user.errors.any?
    = f.label :login
    = f.text_field :login, class: 'form-control', required: true, autofocus: true
    = f.label :email
    = f.email_field :email, class: 'form-control', required: true
    = f.label :password
    = f.password_field :password, class: 'form-control', required: true
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control', required: true
    = f.submit "Sign Up", class: 'btn btn-lg btn-primary btn-block margin-up-small'