<!-- ... -->

<div class="container" style="margin-top: 40px">
  <h1 class="text-center">My blog</h1>
  <div class="row" ng-repeat="article in data.articles">
    <h2><a ng-click="viewArticle(article.id)">{{ article.title }}</a></h2>
    <p>{{ article.contents }}</p>
  </div>
</div>