.bg-warning(style = 'padding: 10px; margin:15px 0')
  %button.close{ aria: { hidden: true } }
    &times;
  %h4 There are (#{object.errors.count}) errors exists :"
  - object.errors.full_messages.each do |msg|
    .text-danger= msg