.container
  %nav.blog-nav
    %a.blog-nav-item.active{href: '#'} Home
    %a.blog-nav-item{href: '#'} Articles
    %a.blog-nav-item{href: '#'} Archieve
    %a.blog-nav-item{href: '#'} About

    .pull-right
      - if user_sign_in?
        You are sign in as:
        = link_to "#{current_user.login}(#{current_user.email})", current_user, class: 'blog-nav-item active'
        - if privileged_user?
          = link_to "To admin panel", admin_root_url, class: 'blog-nav-item active'
        = link_to "Exit", sessions_path, method: :delete, class: 'blog-nav-item active'
      - else
        = link_to "Sign in", new_sessions_path, class: 'blog-nav-item active'
        = link_to "Sign up", new_user_path, class: 'blog-nav-item active'