/ Category articles list
%table.table.table-bordered
  %thead
    %th Title :
    %th Views :
    %th Published :
    %th Author :
    %th Created at :
    %th{colspan: 3} Actions :
  %tbody
    - articles.each do |article|
      %tr
        %td= link_to article.title, admin_article_path(article)
        %td
          %span.label.label-success
            = article.views
        %td
          %span.label.label-warning
            = article.published
        %td= article.author.login
        %td= date_format article.created_at
        %td{colspan: 3}
          = link_to admin_article_path(article), class: 'btn btn-default btn-xs' do
            %i.glyphicon.glyphicon-new-window
          = link_to admin_article_path(article), method: :delete, class: 'btn btn-danger btn-xs', confirm: "Are you sure to delete #{article.title}?" do
            %i.glyphicon.glyphicon-trash
          / = link_to 'Edit', edit_admin_articles_path(article), class: 'btn btn-primary btn-xs'
