%tr
  %td
    %span.text-danger
      = category.name
  %td
    %span.label.label-success
      = category.articles.blank? ? 0 : category.articles.size
  %td
    %span.label.label-primary
      = category.display
  %td{colspan: 3}
    = link_to 'Show', admin_category_path(category), class: 'btn btn-default btn-xs'
    = link_to 'Delete', admin_category_path(category), method: :delete, class: 'btn btn-danger btn-xs', confirm: "Are you sure to delete #{category.name}?"
    = link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-primary btn-xs'