= form_for [:admin, @category], html: { class: 'form form-horizontal', role: 'form' } do |f|
  = render 'common/errors', object: @category if @category.errors.any?
  .form-group
    = f.label :name, class: 'col-sm-1 control-label'
    .col-sm-6
      = f.text_field :name, class: 'form-control', required: true, autofocus: true
  .form-group
    .col-sm-offset-1
      %label.checkbox{ :for => "display" }
        = f.check_box :display, {checked: true}, true, false
        Visible
  .form-group
    .col-sm-offset-1
      = f.submit 'Create category', class: 'btn btn-success'
      = link_to 'Cancel', :back, class: 'btn btn-default'