.btn-group
  = link_to new_admin_category_path, class: 'btn btn-success' do
    %i.glyphicon.glyphicon-plus Add
.btn-group
  %a.btn.btn-default{href: "#{admin_categories_path}"}
    Results, categories
    %span.badge= @categories.size
.btn-group
  %button.btn.btn-default Category display:
  %button.btn.btn-default{data: { toggle: 'dropdown' }}
    %span.caret
    %span.sr-only Category display
  %ul.dropdown-menu{role: 'menu'}
    %li= link_to 'Visible',   admin_categories_path(display: true)
    %li= link_to 'Disabled',  admin_categories_path(display: false)
    %li.divider
    %li= link_to 'All categories', admin_categories_path
.pull-right
  = form_tag admin_categories_path, method: :get, class: 'form form-inline', role: 'form' do
    = text_field_tag :starts_with_name, params[:starts_with_name], class: 'form-control', placeholder: 'name like...'
    = submit_tag 'Search', class: 'btn btn-success'