%h2.text-info Categories list:
%hr
/ Categories search
= render 'search'
%hr
/ Categories list
- unless @categories.blank?
  %table.table.table-hover
    %thead
      %th Category name :
      %th Articles count :
      %th Category display :
      %th{colspan: 3} Actions :
    %tbody
      = render @categories
- else
  = render partial: 'admin/common/empty_resource'
