%h1
  %i.glyphicon.glyphicon-folder-open
  = "Category '#{@category.name}'"
.pull-right
  = link_to 'Edit', admin_category_path(@category), class: 'btn btn-primary'
  = link_to 'Delete', admin_category_path(@category), method: :delete, class: 'btn btn-danger'
%hr
  %p.text-info= "Category name: '#{@category.name}'"
  Display category:
  %span.label.label-primary
    = @category.display
%hr
  %h2
    Category articles :
    %span.label.label-success
      = @category.articles.size
  - if @category.articles.blank?
    %p.text-danger
      There are no articles yet, please
      = link_to 'Add article', new_admin_article_path
  - else
    = render partial: 'category_articles', locals: { articles: @category.articles }
