!!! 5
%html(lang="en"){ng: { app: "Fb" }}
  %head
    %title FB
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body.body-bg-gray
  .blog-header
    = render 'common/header'
  / Container
  .container
    / Alerts
    .row-fluid
      = render 'common/flash' unless flash.blank?
    / Data
    .row-fluid
      = yield
  %footer.blog-footer
    = render 'common/footer'
  = debug(params) if Rails.env.development?