!!! 5
%html(lang="en")
  %head
    %title FB::Backend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body.admin
  .navbar.navbar-inverse.navbar-fixed-top
    = render 'admin/common/header'
  / Container
  .container-fluid
    / Alerts
    .row
      = render 'admin/common/flash' unless flash.blank?
      / Sidebar
      .col-sm-3.col-md-2.sidebar
        = render 'admin/common/sidebar'
      / Data
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        = yield